body {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    background-size: cover;
    background-repeat: no-repeat;
    height: 150vh;
    margin: 0;
    margin-top: 0;
    padding: 0;
}

/* -------------------------flexbox settings--------------------------- */
#search, #search-bar, #weather, #search-history, form {
    display: flex;
    flex-direction: column;
    margin: 5px;
}
#big-wrapper  {
    display: flex;
    flex-direction: row;
}

/* ----------------------------Header-------------------------------- */
header {
    margin-top: 0;
    background: linear-gradient(45deg, #5959d5b5, #3c329a96);
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

h1, header p {
    margin: 7px;
}
/* ----------------------------Search area-------------------------------- */
#search {
    max-width: 30%;
    border-radius: 20px;
    background: #ffffffa3;
    min-height: 530px;
}

#submit, button {
    border-radius: 10px;
    background-color: rgba(35, 30, 124, 0.662);
    color:#fff;
}

#clearHistory {
    margin: 5px;
}

/* -----------------------------Weather display------------------------------ */

#weather {
    width: 75%;
    height: auto;
    background: #ffffffa3;
    border-radius: 20px;
    padding: 10px;
    margin-left: 1%;
    display: none;
}

/* -------------------------------Today's Weather---------------------------------- */
#current {
    border: 2px solid black;
    border-radius: 20px;
}

#current p, h2 {
    margin-left: 5px;
}

#current h2 {
    margin-bottom: 0;
}

#little-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#little-box p{
    font-size: larger;
    font-weight: 900;
}

#temp {
    margin-top: 0;
}

/* ------------------5 day forecast cards------------------------ */
.five-day-box{
    color: #fff;
    background-color: #293453;
    width: 150px;
    border-radius: 9px;
    margin: 5px 10px;
    padding: 0px 6px;
}

#five-day-display {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#map{
    height: 400px;
    width: 400px;
}

/* ---------------------------media queries--------------------------- */
@media screen and (max-width: 1213px){
    body {
        height: 195vh;
    }
}
@media screen and (max-width: 785px){
    body {
        height: 233vh;
    }
}
@media screen and (max-width: 580px){
    body {
        height: 309vh;
    }
}